
body{
  direction: ltr;
    line-height: 1.34;
      font-family: inherit;
      background: rgb(233, 235, 238)
    }
  .container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(11, 80, 21, 0.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.system_nav:hover{
    background: rgba(255,255,255,0.8);
    
}

.system_nav{
  font-size: 12px;    word-wrap: break-word;
}
.system_nav_actif{
background: rgba(255,255,255,0.8);
font-size: 15px; 
}
.system_white{
  background: white;border-radius: 2px;margin-top: 10px;box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
}
.system_white_border{
 margin-top: 10px;
}
.system-header{
  color: white;font-size: 15px;
}
.system-header-nav:hover{
  background-color: rgba(51, 26, 5, 0.6);
  
  border-radius: 5px;
}
.system-header-nav{
  padding-left: 5px;
  padding-right: 5px;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

#search {

}

#search input[type="text"] {
   
    background: url('../img/img_bcc_imgs/Search.png') no-repeat 10px 6px #12420b;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #e4e0d6;
    width: 260px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;

    }

#search input[type="text"]:focus {
    width: 320px;
    }
.font-color{
      color: #042402;
}
.font-color-white{
      color: white;
}
.font-color:hover{
  opacity: 0.8;
  cursor: pointer;
}

.font-color-white:hover{
       opacity: 0.8;
  cursor: pointer;
}
.inputsearch:focus{
  outline: 0 none;;
}
textarea{  
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  padding:10px;
  width:100%;
  font-size:14px;

  display:block;
 
 
}
textarea:focus{
  outline: 0 none;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.publier{
  background: #216316;
  color: white
}
.publier:hover{
  background:#216316e6;
  
}
.reinitialiser{
 
color: #626262;
}
.reinitialiser:hover{
  background: #e1e1e1;
}
.overflow{overflow: hidden;}